<div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 1rem">
  <!-- 個人資料 -->
  <mat-card
    fxFlex="100%"
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
    style="margin-left: 1rem; margin-right: 1rem"
  >
    <mat-expansion-panel fxFlex="100%" [(expanded)]="expanded">
      <mat-expansion-panel-header style="background: #00bcd4">
        <mat-panel-title
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <h3>個人資料 ( Personal Data )</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ul class="list-unstyled" style="padding: 10px">
        <tr>
          <td>
            <h4 style="margin: auto">
              <strong
                >姓名 ：{{ personnel_current_data.name || "N / A" }}</strong
              >
            </h4>
          </td>
          <td>
            <h4 style="margin-left: 20px">
              <strong
                >前月最大 HR ：{{ last_month_hr_max || "無前月資料" }}</strong
              >
            </h4>
          </td>
        </tr>
        <tr>
          <td>
            <h4 style="margin: auto">
              <strong>年齡 ：{{ birthday || "N / A" }}</strong>
            </h4>
          </td>
          <td>
            <h4 style="margin-left: 20px">
              <strong
                >前月最小 HR ：{{ last_month_hr_min || "無前月資料" }}</strong
              >
            </h4>
          </td>
        </tr>
        <tr>
          <td>
            <h4 style="margin: auto">
              <strong
                >性別 ：{{ personnel_current_data.sex || "N / A" }}</strong
              >
            </h4>
          </td>
          <td>
            <h4 style="margin-left: 20px">
              <strong
                >前日平均 HR ：{{ last_day_hr_mean || "無前日資料" }}</strong
              >
            </h4>
          </td>
        </tr>
        <tr>
          <td>
            <h4 style="margin: auto">
              <strong
                >地點 ：{{
                  personnel_current_data.location || "定位器未設定"
                }}</strong
              >
            </h4>
          </td>
          <td>
            <h4 style="margin-left: 20px">
              <strong
                >MAC：{{ personnel_current_data.mac || "尚未配對" }}</strong
              >
            </h4>
          </td>
        </tr>
      </ul>
    </mat-expansion-panel>
  </mat-card>

  <!-- 即時心率數據 -->
  <mat-card
    fxFlex="100%"
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    style="margin-left: 1rem; margin-right: 1rem"
  >
    <mat-expansion-panel fxFlex="100%" [(expanded)]="expanded_hr">
      <mat-expansion-panel-header style="background: #00bcd4">
        <mat-panel-title
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <h3>即時心率數據 ( Real-time Heart Rate Data )</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-top: 1rem"
      >
        <mat-form-field>
          <mat-placeholder>開始時間</mat-placeholder>
          <mat-datetimepicker
            #datetimePicker
            type="datetime"
            openOnFocus="true"
          ></mat-datetimepicker>
          <input
            matInput
            [matDatetimepicker]="datetimePicker"
            autocomplete="false"
            [ngModel]="hr_start_time"
            [max]="hr_start_max_date"
            [min]="hr_start_min_date"
            (ngModelChange)="change_start_time($event, 'hr', 2)"
            readonly
          />
        </mat-form-field>
        <mat-form-field>
          <mat-placeholder>結束時間</mat-placeholder>
          <mat-datetimepicker
            #datetimePicker2
            type="datetime"
            openOnFocus="true"
          ></mat-datetimepicker>
          <input
            matInput
            [matDatetimepicker]="datetimePicker2"
            autocomplete="false"
            [ngModel]="hr_end_time"
            [max]="hr_end_max_date"
            [min]="hr_end_min_date"
            (ngModelChange)="change_end_time($event, 'hr', 2)"
            readonly
          />
        </mat-form-field>
      </div>

      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-bottom: 1rem"
      >
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="search_hr()"
          [disabled]="!hr_start_time || !hr_end_time"
        >
          搜尋
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="clear_time()"
        >
          清除
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="export_hr()"
          [disabled]="!hr_start_time || !hr_end_time || waiting"
        >
          <span *ngIf="!waiting">匯出</span>
          <span *ngIf="waiting">匯出中...</span>
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel fxFlex="100%" [(expanded)]="expanded_hr_1">
      <mat-expansion-panel-header>
        <mat-panel-title
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <mat-icon svgIcon="heartbeat" *ngIf="!expanded_hr_1"></mat-icon>
          <p [hidden]="expanded_hr_1" style="font-size: 1.8rem">
            HR : {{ personnel_current_data.hr }}
          </p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button
        mat-raised-button
        style="background: #00bcd4; margin-bottom: 1rem; margin-left: 1rem"
        (click)="change_status('hr')"
      >
        停止 / 開始
      </button>
      <div class="spinner" *ngIf="hr_loading">
        <mat-spinner diameter="200"> </mat-spinner>
      </div>
      <div
        style="position: relative; height: 300px; margin: 0"
        [hidden]="hr_loading"
      >
        <canvas id="canvas_hr"></canvas>
      </div>
    </mat-expansion-panel>
  </mat-card>

  <!-- 每 5 分鐘 frequency domain analysis -->
  <mat-card
    fxFlex="100%"
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    style="margin-left: 1rem; margin-right: 1rem"
  >
    <mat-expansion-panel fxFlex="100%" [(expanded)]="expanded_frequency">
      <mat-expansion-panel-header style="background: #00bcd4">
        <mat-panel-title
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <h3>
            每 5 分鐘 HRV 頻域分析 ( HRV Frequency domain analysis within every
            5 minutes )
          </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-top: 1rem"
      >
        <mat-form-field>
          <mat-label>選擇月份</mat-label>
          <input
            matInput
            [matDatepicker]="datetimePicker_frequency_month"
            [formControl]="frequency_month_date"
            [max]="max_month_date"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="datetimePicker_frequency_month"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #datetimePicker_frequency_month
            startView="multi-year"
            (yearSelected)="chosen_year_handler($event, 'frequency')"
            (monthSelected)="
              chosen_month_handler(
                $event,
                datetimePicker_frequency_month,
                'frequency'
              )
            "
            panelClass="example-month-picker"
          >
          </mat-datepicker>
        </mat-form-field>
        <!-- </div>  
            <div fxLayout='row' fxLayoutGap='20px' fxLayoutAlign='start center' style='margin-left: 1rem; margin-bottom: 1rem;'> -->
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="search_month('frequency')"
          [disabled]="!frequency_month_date"
        >
          搜尋
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="clear_time()"
        >
          清除
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="export_month('frequency')"
          [disabled]="!frequency_month_date || waiting"
        >
          <span *ngIf="!waiting">匯出</span>
          <span *ngIf="waiting">匯出中...</span>
        </button>
      </div>
      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-top: 1rem"
      >
        <mat-form-field>
          <mat-placeholder>選擇日期</mat-placeholder>
          <input
            matInput
            [matDatetimepicker]="datetimePicker_frequency_day"
            autocomplete="false"
            [formControl]="frequency_day_date"
            [max]="end_date"
            readonly
          />
          <!-- <input matInput [matDatepicker]="datetimePicker_frequency_day" [(ngModel)]='frequency_day_date' [max]="end_date" readonly> -->
          <mat-datetimepicker-toggle
            matSuffix
            [for]="datetimePicker_frequency_day"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            #datetimePicker_frequency_day
          ></mat-datetimepicker>
        </mat-form-field>
        <!-- </div>  
            <div fxLayout='row' fxLayoutGap='20px' fxLayoutAlign='start center' style='margin-left: 1rem; margin-bottom: 1rem;'> -->
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="search_day('frequency')"
          [disabled]="!frequency_day_date"
        >
          搜尋
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="clear_time()"
        >
          清除
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="export_day('frequency')"
          [disabled]="!frequency_day_date || waiting"
        >
          <span *ngIf="!waiting">匯出</span>
          <span *ngIf="waiting">匯出中...</span>
        </button>
      </div>

      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-top: 1rem"
      >
        <mat-form-field>
          <mat-placeholder>開始時間</mat-placeholder>
          <mat-datetimepicker
            #starttimePicker_frequency
            type="datetime"
            openOnFocus="true"
          ></mat-datetimepicker>
          <input
            matInput
            [matDatetimepicker]="starttimePicker_frequency"
            autocomplete="false"
            [ngModel]="frequency_start_time"
            [max]="frequency_start_max_date"
            [min]="frequency_start_min_date"
            (ngModelChange)="change_start_time($event, 'frequency')"
            readonly
          />
        </mat-form-field>
        <mat-form-field>
          <mat-placeholder>結束時間</mat-placeholder>
          <mat-datetimepicker
            #endtimePicker_frequency
            type="datetime"
            openOnFocus="true"
          ></mat-datetimepicker>
          <input
            matInput
            [matDatetimepicker]="endtimePicker_frequency"
            autocomplete="false"
            [ngModel]="frequency_end_time"
            [max]="frequency_end_max_date"
            [min]="frequency_end_min_date"
            (ngModelChange)="change_end_time($event, 'frequency')"
            readonly
          />
        </mat-form-field>
      </div>

      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-bottom: 1rem"
      >
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="search_time('frequency')"
          [disabled]="!frequency_start_time || !frequency_end_time"
        >
          搜尋
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="clear_time()"
        >
          清除
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="export_time('frequency')"
          [disabled]="!frequency_start_time || !frequency_end_time || waiting"
        >
          <span *ngIf="!waiting">匯出</span>
          <span *ngIf="waiting">匯出中...</span>
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel fxFlex="100%" [(expanded)]="expanded_frequency_1">
      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-bottom: 1rem"
      >
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="change_status('frequency')"
        >
          停止 / 開始
        </button>
      </div>
      <mat-expansion-panel-header>
        <mat-panel-title
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <mat-icon
            svgIcon="heartbeat"
            *ngIf="!expanded_frequency_1"
          ></mat-icon>
          <p [hidden]="expanded_frequency_1" style="font-size: 1.8rem">
            Frequency_domain : {{ this.frequency_array.slice(-1) }}
          </p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="spinner" *ngIf="frequency_loading">
        <mat-spinner diameter="200"> </mat-spinner>
      </div>
      <div
        style="position: relative; height: 450px"
        [hidden]="frequency_loading"
      >
        <canvas id="canvas_frequency"></canvas>
      </div>
    </mat-expansion-panel>
  </mat-card>

  <!-- 每 5 分鐘 RMSSD -->
  <mat-card
    fxFlex="100%"
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    style="margin-left: 1rem; margin-right: 1rem"
  >
    <mat-expansion-panel fxFlex="100%" [(expanded)]="expanded_rmssd">
      <mat-expansion-panel-header style="background: #00bcd4">
        <mat-panel-title
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <h3>
            每 5 分鐘移動平均 RMSSD 壓力指數 ( Moving average of RMSSD Stress
            within every 5 minutes )
          </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-top: 1rem"
      >
        <mat-form-field>
          <mat-label>選擇月份</mat-label>
          <input
            matInput
            [matDatepicker]="datetimePicker_HRV_month"
            [formControl]="rmssd_month_date"
            [max]="max_month_date"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="datetimePicker_HRV_month"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #datetimePicker_HRV_month
            startView="multi-year"
            (yearSelected)="chosen_year_handler($event, 'rmssd')"
            (monthSelected)="
              chosen_month_handler($event, datetimePicker_HRV_month, 'rmssd')
            "
            panelClass="example-month-picker"
          >
          </mat-datepicker>
        </mat-form-field>
        <!-- </div>  
            <div fxLayout='row' fxLayoutGap='20px' fxLayoutAlign='start center' style='margin-left: 1rem; margin-bottom: 1rem;'> -->
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="search_month('rmssd')"
          [disabled]="!rmssd_month_date"
        >
          搜尋
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="clear_time()"
        >
          清除
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="export_month('rmssd')"
          [disabled]="!rmssd_month_date || waiting"
        >
          <span *ngIf="!waiting">匯出</span>
          <span *ngIf="waiting">匯出中...</span>
        </button>
      </div>
      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-top: 1rem"
      >
        <mat-form-field>
          <mat-placeholder>選擇日期</mat-placeholder>
          <input
            matInput
            [matDatetimepicker]="datetimePicker_rmssd_day"
            autocomplete="false"
            [formControl]="rmssd_day_date"
            [max]="end_date"
            readonly
          />
          <!-- <input matInput [matDatepicker]="datetimePicker_HRV_day" [(ngModel)]='rmssd_day_date' [max]="end_date" readonly> -->
          <mat-datetimepicker-toggle
            matSuffix
            [for]="datetimePicker_rmssd_day"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker #datetimePicker_rmssd_day></mat-datetimepicker>
        </mat-form-field>
        <!-- </div>  
            <div fxLayout='row' fxLayoutGap='20px' fxLayoutAlign='start center' style='margin-left: 1rem; margin-bottom: 1rem;'> -->
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="search_day('rmssd')"
          [disabled]="!rmssd_day_date"
        >
          搜尋
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="clear_time()"
        >
          清除
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="export_day('rmssd')"
          [disabled]="!rmssd_day_date || waiting"
        >
          <span *ngIf="!waiting">匯出</span>
          <span *ngIf="waiting">匯出中...</span>
        </button>
      </div>

      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-top: 1rem"
      >
        <mat-form-field>
          <mat-placeholder>開始時間</mat-placeholder>
          <mat-datetimepicker
            #starttimePicker_rmssd
            type="datetime"
            openOnFocus="true"
          ></mat-datetimepicker>
          <input
            matInput
            [matDatetimepicker]="starttimePicker_rmssd"
            autocomplete="false"
            [ngModel]="rmssd_start_time"
            [max]="rmssd_start_max_date"
            [min]="rmssd_start_min_date"
            (ngModelChange)="change_start_time($event, 'rmssd')"
            readonly
          />
        </mat-form-field>
        <mat-form-field>
          <mat-placeholder>結束時間</mat-placeholder>
          <mat-datetimepicker
            #endtimePicker_rmssd
            type="datetime"
            openOnFocus="true"
          ></mat-datetimepicker>
          <input
            matInput
            [matDatetimepicker]="endtimePicker_rmssd"
            autocomplete="false"
            [ngModel]="rmssd_end_time"
            [max]="rmssd_end_max_date"
            [min]="rmssd_end_min_date"
            (ngModelChange)="change_end_time($event, 'rmssd')"
            readonly
          />
        </mat-form-field>
      </div>

      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-bottom: 1rem"
      >
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="search_time('rmssd')"
          [disabled]="!rmssd_start_time || !rmssd_end_time"
        >
          搜尋
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="clear_time()"
        >
          清除
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="export_time('rmssd')"
          [disabled]="!rmssd_start_time || !rmssd_end_time || waiting"
        >
          <span *ngIf="!waiting">匯出</span>
          <span *ngIf="waiting">匯出中...</span>
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel fxFlex="100%" [(expanded)]="expanded_rmssd_1">
      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-bottom: 1rem"
      >
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="change_status('rmssd')"
        >
          停止 / 開始
        </button>
      </div>
      <mat-expansion-panel-header>
        <mat-panel-title
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <mat-icon svgIcon="heartbeat" *ngIf="!expanded_rmssd_1"></mat-icon>
          <p [hidden]="expanded_rmssd_1" style="font-size: 1.8rem">
            RMSSD : {{ this.rmssd_array.slice(-1) }}
          </p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="spinner" *ngIf="rmssd_loading">
        <mat-spinner diameter="200"> </mat-spinner>
      </div>
      <div style="position: relative; height: 450px" [hidden]="rmssd_loading">
        <canvas id="canvas_rmssd"></canvas>
      </div>
    </mat-expansion-panel>
  </mat-card>

  <!-- 每 5 分鐘SDNN -->
  <mat-card
    fxFlex="100%"
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    style="margin-left: 1rem; margin-right: 1rem"
  >
    <mat-expansion-panel fxFlex="100%" [(expanded)]="expanded_sdnn">
      <mat-expansion-panel-header style="background: #00bcd4">
        <mat-panel-title
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <h3>
            每 5 分鐘移動平均 SDNN 心律變異數 ( Moving average of SDNN within
            every 5 minutes )
          </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-top: 1rem"
      >
        <mat-form-field>
          <mat-label>選擇月份</mat-label>
          <input
            matInput
            [matDatepicker]="datetimePicker_SDNN_month"
            [formControl]="sdnn_month_date"
            [max]="max_month_date"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="datetimePicker_SDNN_month"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #datetimePicker_SDNN_month
            startView="multi-year"
            (yearSelected)="chosen_year_handler($event, 'sdnn')"
            (monthSelected)="
              chosen_month_handler($event, datetimePicker_SDNN_month, 'sdnn')
            "
            panelClass="example-month-picker"
          >
          </mat-datepicker>
        </mat-form-field>
        <!-- </div>  
                  <div fxLayout='row' fxLayoutGap='20px' fxLayoutAlign='start center' style='margin-left: 1rem; margin-bottom: 1rem;'> -->
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="search_month('sdnn')"
          [disabled]="!sdnn_month_date"
        >
          搜尋
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="clear_time()"
        >
          清除
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="export_month('sdnn')"
          [disabled]="!sdnn_month_date || waiting"
        >
          <span *ngIf="!waiting">匯出</span>
          <span *ngIf="waiting">匯出中...</span>
        </button>
      </div>
      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-top: 1rem"
      >
        <mat-form-field>
          <mat-placeholder>選擇日期</mat-placeholder>
          <input
            matInput
            [matDatetimepicker]="datetimePicker_SDNN_day"
            [formControl]="sdnn_day_date"
            [max]="end_date"
            readonly
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="datetimePicker_SDNN_day"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker #datetimePicker_SDNN_day></mat-datetimepicker>
        </mat-form-field>
        <!-- </div>
            <div fxLayout='row' fxLayoutGap='20px' fxLayoutAlign='start center' style='margin-left: 1rem; margin-bottom: 1rem;'> -->
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="search_day('sdnn')"
          [disabled]="!sdnn_day_date"
        >
          搜尋
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="clear_time()"
        >
          清除
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="export_day('sdnn')"
          [disabled]="!sdnn_day_date || waiting"
        >
          <span *ngIf="!waiting">匯出</span>
          <span *ngIf="waiting">匯出中...</span>
        </button>
      </div>
      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-top: 1rem"
      >
        <mat-form-field>
          <mat-placeholder>開始時間</mat-placeholder>
          <mat-datetimepicker
            #datetimePicker_SDNN_1
            type="datetime"
            openOnFocus="true"
          ></mat-datetimepicker>
          <input
            matInput
            [matDatetimepicker]="datetimePicker_SDNN_1"
            autocomplete="false"
            [ngModel]="sdnn_start_time"
            [max]="sdnn_start_max_date"
            [min]="sdnn_start_min_date"
            (ngModelChange)="change_start_time($event, 'sdnn')"
            readonly
          />
        </mat-form-field>
        <mat-form-field>
          <mat-placeholder>結束時間</mat-placeholder>
          <mat-datetimepicker
            #datetimePicker_SDNN_2
            type="datetime"
            openOnFocus="true"
          ></mat-datetimepicker>
          <input
            matInput
            [matDatetimepicker]="datetimePicker_SDNN_2"
            autocomplete="false"
            [ngModel]="sdnn_end_time"
            [max]="sdnn_end_max_date"
            [min]="sdnn_end_min_date"
            (ngModelChange)="change_end_time($event, 'sdnn')"
            readonly
          />
        </mat-form-field>
      </div>

      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-bottom: 1rem"
      >
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="search_time('sdnn')"
          [disabled]="!sdnn_start_time || !sdnn_end_time"
        >
          搜尋
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="clear_time()"
        >
          清除
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="export_time('sdnn')"
          [disabled]="!sdnn_start_time || !sdnn_end_time || waiting"
        >
          <span *ngIf="!waiting">匯出</span>
          <span *ngIf="waiting">匯出中...</span>
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel fxFlex="100%" [(expanded)]="expanded_sdnn_1">
      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-bottom: 1rem"
      >
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="change_status('sdnn')"
        >
          停止 / 開始
        </button>
      </div>
      <mat-expansion-panel-header>
        <mat-panel-title
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <mat-icon svgIcon="heartbeat" *ngIf="!expanded_sdnn_1"></mat-icon>
          <p [hidden]="expanded_sdnn_1" style="font-size: 1.8rem">
            SDNN : {{ this.sdnn_array.slice(-1) }}
          </p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="spinner" *ngIf="sdnn_loading">
        <mat-spinner diameter="200"> </mat-spinner>
      </div>
      <div style="position: relative; height: 450px" [hidden]="sdnn_loading">
        <canvas id="canvas_sdnn"></canvas>
      </div>
    </mat-expansion-panel>
  </mat-card>

  <!-- 每 5 分鐘工作負荷 -->
  <mat-card
    fxFlex="100%"
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    style="margin-left: 1rem; margin-right: 1rem"
  >
    <mat-expansion-panel fxFlex="100%" [(expanded)]="expanded_hrr">
      <mat-expansion-panel-header style="background: #00bcd4">
        <mat-panel-title
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <h3>
            每 5 分鐘移動平均 %HRR 工作負荷 ( %HRR Workload within every 5
            minutes )
          </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-top: 1rem"
      >
        <mat-form-field>
          <mat-label>選擇月份</mat-label>
          <input
            matInput
            [matDatepicker]="datetimePicker_HRR_month"
            [formControl]="hrr_month_date"
            [max]="max_month_date"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="datetimePicker_HRR_month"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #datetimePicker_HRR_month
            startView="multi-year"
            (yearSelected)="chosen_year_handler($event, 'hrr')"
            (monthSelected)="
              chosen_month_handler($event, datetimePicker_HRR_month, 'hrr')
            "
            panelClass="example-month-picker"
          >
          </mat-datepicker>
        </mat-form-field>
        <!-- </div>  
                        <div fxLayout='row' fxLayoutGap='20px' fxLayoutAlign='start center' style='margin-left: 1rem; margin-bottom: 1rem;'> -->
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="search_month('hrr')"
          [disabled]="!hrr_month_date"
        >
          搜尋
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="clear_time()"
        >
          清除
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="export_month('hrr')"
          [disabled]="!hrr_month_date || waiting"
        >
          <span *ngIf="!waiting">匯出</span>
          <span *ngIf="waiting">匯出中...</span>
        </button>
      </div>
      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-top: 1rem"
      >
        <mat-form-field>
          <mat-placeholder>選擇日期</mat-placeholder>
          <input
            matInput
            [matDatetimepicker]="datetimePicker_HRR_day"
            [formControl]="hrr_day_date"
            [max]="end_date"
            readonly
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="datetimePicker_HRR_day"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker #datetimePicker_HRR_day></mat-datetimepicker>
        </mat-form-field>
        <!-- </div>  
      <div fxLayout='row' fxLayoutGap='20px' fxLayoutAlign='start center' style='margin-left: 1rem; margin-bottom: 1rem;'> -->
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="search_day('hrr')"
          [disabled]="!hrr_day_date"
        >
          搜尋
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="clear_time()"
        >
          清除
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="export_day('hrr')"
          [disabled]="!hrr_day_date || waiting"
        >
          <span *ngIf="!waiting">匯出</span>
          <span *ngIf="waiting">匯出中...</span>
        </button>
      </div>
      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-top: 1rem"
      >
        <mat-form-field>
          <mat-placeholder>開始時間</mat-placeholder>
          <mat-datetimepicker
            #datetimePicker5
            type="datetime"
            openOnFocus="true"
          ></mat-datetimepicker>
          <input
            matInput
            [matDatetimepicker]="datetimePicker5"
            autocomplete="false"
            [ngModel]="hrr_start_time"
            [max]="hrr_start_max_date"
            [min]="hrr_start_min_date"
            (ngModelChange)="change_start_time($event, 'hrr')"
            readonly
          />
        </mat-form-field>
        <mat-form-field>
          <mat-placeholder>結束時間</mat-placeholder>
          <mat-datetimepicker
            #datetimePicker6
            type="datetime"
            openOnFocus="true"
          ></mat-datetimepicker>
          <input
            matInput
            [matDatetimepicker]="datetimePicker6"
            autocomplete="false"
            [ngModel]="hrr_end_time"
            [max]="hrr_end_max_date"
            [min]="hrr_end_min_date"
            (ngModelChange)="change_end_time($event, 'hrr')"
            readonly
          />
        </mat-form-field>
      </div>

      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-bottom: 1rem"
      >
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="search_time('hrr')"
          [disabled]="!hrr_start_time || !hrr_end_time"
        >
          搜尋
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="clear_time()"
        >
          清除
        </button>
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="export_time('hrr')"
          [disabled]="!hrr_start_time || !hrr_end_time || waiting"
        >
          <span *ngIf="!waiting">匯出</span>
          <span *ngIf="waiting">匯出中...</span>
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel fxFlex="100%" [(expanded)]="expanded_hrr_1">
      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        style="margin-left: 1rem; margin-bottom: 1rem"
      >
        <button
          mat-raised-button
          style="background: #00bcd4"
          (click)="change_status('hrr')"
        >
          停止 / 開始
        </button>
      </div>
      <mat-expansion-panel-header>
        <mat-panel-title
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <mat-icon svgIcon="heartbeat" *ngIf="!expanded_hrr_1"></mat-icon>
          <p [hidden]="expanded_hrr_1" style="font-size: 1.8rem">
            HRR : {{ this.hrr_array.slice(-1) }}
          </p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="spinner" *ngIf="hrr_loading">
        <mat-spinner diameter="200"> </mat-spinner>
      </div>
      <div style="position: relative; height: 450px" [hidden]="hrr_loading">
        <canvas id="canvas_hrr"></canvas>
      </div>
    </mat-expansion-panel>
  </mat-card>

  <!--日間工作負荷day_hrr-->
  <mat-card style="margin-top: 1rem" fxFlex="100%">
    <mat-expansion-panel
      [(expanded)]="expanded_day_hrr"
      style="margin-top: 1rem"
    >
      <mat-expansion-panel-header style="background: #00bcd4">
        <mat-panel-title
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <h3>日間 %HRR 工作負荷 ( Daytime %HRR Workload )</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="spinner" *ngIf="day_hrr_loading">
        <mat-spinner diameter="200"> </mat-spinner>
      </div>
      <div
        style="position: relative; height: 300px; margin-top: 1rem"
        [hidden]="day_hrr_loading"
      >
        <canvas id="canvas_day_hrr"></canvas>
      </div>
    </mat-expansion-panel>
  </mat-card>
</div>
